* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1020px;
}


h1{
  color:#21365C;font-weight:bold;
  text-align: center;
   }
h2{
  padding:9px;
  background-color:#D5DDEA;
  text-align: center;
}
h4{
  color:#7D754A;font-weight:bold;
   }
div{
  padding:9px;
}
.row {
  display: flex;
  background-color:#EBEEF5
}
.col-4 {
  width: 33.33%;
  max-width: 337px;
  padding:9px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.col-2 {
  width: 45%;
  padding: 9px;
  background-color:#F1EDD6;
  text-align:center;
}
.col-1 {
  width: 10%;
  padding: 9px;
  background-color:white;
}
.col-0{
  width: 33.33%;
  max-width: 337px;
  padding:9px;
}
img {
  border:3px solid #21365C;
  width: 100%;
  height: auto;
  -webkit-border-radius:150px;
  -moz-border-radius:150px;
  text-align:center;
}
.Melody{
  border:3px solid #21365C;
  width: 100%;
  height: auto;
  -webkit-border-radius:9px;
  -moz-border-radius:150px;
  text-align:center;
}

p.center {
  text-align: center;
  color:#7D754A;font-weight:bold;
}









